{% extends 'base.html' %}
{% include 'header.html' %}


{% block title %} Discoveries {% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col md-12">
        <div class="jumbotron jumbotron-fluid p-3">
            <h2><b>Discoveries</b> <button type="button" class="btn btn-success float-right" data-toggle="modal" data-target="#modaladd">Add <i class="bi bi-plus-square"></i></button></h2>
            
            {% with messages = get_flashed_messages() %}   
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="close">
                    <span aria-hidden="true"><i class="bi bi-x"></i></span>
                </button>
                {{message}}
            </div>        
            {% endfor %}
            {% endif %}
            {% endwith %}
            <table class="table table-hover table-dark">
                <tr>
                    <th class="col-sm-3">Country</th>
                    <th class="col-sm-3">Disease code</th>
                    <th class="col-sm-3">First encounter date</th>
                    <th class="col-sm-3">Action</th>
                </tr>

                {% for row in discoveries %}
                <tr>
                    <td>{{row.cname}}</td>
                    <td>{{row.disease_code}}</td>
                    <td>{{row.first_enc_date}}</td>
                    <td>
                        <a href="/discoveries/update?c={{row.cname}}&d={{row.disease_code}}" class="btn btn-outline-primary" data-toggle="modal" data-target="#modaledit{{row.cname}}{{row.disease_code}}">Edit <i class="bi bi-pencil-square"></i></a>
                        <span class="mx-1"></span>
                        <a href="/discoveries/delete?c={{row.cname}}&d={{row.disease_code}}" class="btn btn-outline-danger" onclick="return confirm('Are you sure to delete?')">Delete <i class="bi bi-trash"></i></a>
                    </td>
                </tr>
  
                <div id="modaledit{{row.cname}}{{row.disease_code}}" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h4 class="modal-title">Update discovery</h4>
                        </div>
                        <div class="modal-body">
                            <form action="/discoveries/update?c={{row.cname}}&d={{row.disease_code}}" method="POST">
                                <div class="form-group">
                                    <label class="col-form-label">Country:</label>
                                    <input type="text" class="form-control" name="cname" required="1" value="{{row.cname}}" readonly>
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label">Disease code:</label>
                                    <input type="text" class="form-control" name="disease_code" required="1" value="{{row.disease_code}}" readonly>
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label">First encounter date:</label>
                                    <div>
                                        <div class="input-group date datepicker">
                                            <input type="text" class="form-control" name = "first_enc_date" required="1" value="{{row.first_enc_date}}">
                                            <span class="input-group-append">
                                                <span class="input-group-text bg-white">
                                                    <i class="bi bi-calendar"></i>
                                                </span>
                                            </span>
                                        </div>  
                                    </div>
                                </div>
                                <hr>
                                <div class="form-group float-right">
                                    <button class="btn btn-primary" type="submit">Update</button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </form>              
                    </div>
                </div>

                {% endfor %}

            </table>
        </div>
        <div id="modaladd" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h4 class="modal-title">Add discovery</h4>
                </div>
                <div class="modal-body">
                    <form action="/discoveries/insert" method="POST">
                        <div class="form-group">
                            <label class="col-form-label">Country:</label>
                            <select type="form-control" class="form-control" name="cname" required="1">
                                {% for row in countries %}
                                <option>{{row.cname}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Disease code:</label>
                            <select type="form-control" class="form-control" name="disease_code" required="1">
                                {% for row in diseases %}
                                <option>{{row.disease_code}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group row col-sm-6">
                            <label class="col-form-label">First encounter date:</label>
                            <div>
                                <div class="input-group date datepicker">
                                    <input type="text" class="form-control" name = "first_enc_date" required="1">
                                    <span class="input-group-append">
                                        <span class="input-group-text bg-white">
                                            <i class="bi bi-calendar"></i>
                                        </span>
                                    </span>
                                </div>  
                            </div>
                        </div>
                        <hr>
                        <div class="form-group float-right">
                            <button class="btn btn-primary" type="submit">Add</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </form>              
            </div>
        </div>
        
    </div>
</div>

<script type="text/javascript">
    $(function() {
        $('.datepicker').datepicker({
            format: 'yyyy-mm-dd',
        });
    });
</script>

{% endblock %}