<!-- <div class="jumbotron p-3">
    <div class="well">
        <h2>Diseases Database</h2>
        <a href="/"
    </div>
</div> -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Diseases Database</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav mr-auto my-2 my-lg-0 navbar-nav-scroll" style="max-height: 100px;">
        <li class="nav-item dropdown">
          <!-- href -->
          <a class="nav-link dropdown-toggle"  role="button" data-toggle="dropdown" aria-expanded="false">Tables</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/disease_types">Disease types</a></li>
            <li><a class="dropdown-item" href="/countries">Countries</a></li>
            <li><a class="dropdown-item" href="/diseases">Diseases</a></li>
            <li><a class="dropdown-item" href="/discoveries">Discoveries</a></li>
            <li><a class="dropdown-item" href="/users">Users</a></li>
            <li><a class="dropdown-item" href="/public_servants">Public Servants</a></li>
            <li><a class="dropdown-item" href="/doctors">Doctors</a></li>
            <li><a class="dropdown-item" href="/specializations">Specializations</a></li>
            <li><a class="dropdown-item" href="/records">Records</a></li>
            <!-- <li><hr class="dropdown-divider"></li> -->
          </ul>
        </li>
      </ul>
    </div>
  </nav>